<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FlexExamDataService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>AllData</welcome-file>
  </welcome-file-list>
  <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>
    <context-param>
        <param-name>flex.class.path</param-name>
        <param-value>/WEB-INF/flex/hotfixes,/WEB-INF/flex/jars,/WEB-INF/lib</param-value>
    </context-param>
  
  <!-- MessageBroker Servlet -->
    <servlet>
        <display-name>MessageBrokerServlet</display-name>
        <servlet-name>MessageBrokerServlet</servlet-name>
        
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
         </init-param>
        <init-param>
            <param-name>flex.write.path</param-name>
            <param-value>/WEB-INF/flex</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FlexInternalServlet</servlet-name>
        <servlet-class>flex.bootstrap.BootstrapServlet</servlet-class>
        <init-param>
            <param-name>servlet.class</param-name>
            <param-value>flex.webtier.server.j2ee.filemanager.FileManagerServlet</param-value>
        </init-param>
        <load-on-startup>10</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlexInternalServlet</servlet-name>
        <url-pattern>/flex-internal/*</url-pattern>
    </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllData</display-name>
    <servlet-name>AllData</servlet-name>
    <servlet-class>com.ssga.flexexam.service.servlet.AllData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllData</servlet-name>
    <url-pattern>/AllData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllClients</display-name>
    <servlet-name>AllClients</servlet-name>
    <servlet-class>com.ssga.flexexam.service.servlet.AllClients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllClients</servlet-name>
    <url-pattern>/AllClients</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllEmployees</display-name>
    <servlet-name>AllEmployees</servlet-name>
    <servlet-class>com.ssga.flexexam.service.servlet.AllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployees</servlet-name>
    <url-pattern>/AllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllProjects</display-name>
    <servlet-name>AllProjects</servlet-name>
    <servlet-class>com.ssga.flexexam.service.servlet.AllProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProjects</servlet-name>
    <url-pattern>/AllProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllPEMap</display-name>
    <servlet-name>AllPEMap</servlet-name>
    <servlet-class>com.ssga.flexexam.service.servlet.AllPEMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPEMap</servlet-name>
    <url-pattern>/AllPEMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainDataGrid</display-name>
    <servlet-name>MainDataGrid</servlet-name>
    <servlet-class>com.ssga.flexexam.service.servlet.MainDataGrid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainDataGrid</servlet-name>
    <url-pattern>/MainDataGrid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllEmployeesInProject</display-name>
    <servlet-name>AllEmployeesInProject</servlet-name>
    <servlet-class>com.ssga.flexexam.service.servlet.AllEmployeesInProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmployeesInProject</servlet-name>
    <url-pattern>/AllEmployeesInProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProject</display-name>
    <servlet-name>EditProject</servlet-name>
    <servlet-class>com.ssga.flexexam.service.servlet.EditProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProject</servlet-name>
    <url-pattern>/EditProject</url-pattern>
  </servlet-mapping>
</web-app>